$accent: #ff4943;
$table-border: solid 1px #E0E0E0;
$lightgrey: #fafafa;

.c-sensor-data-table {
   display: flex;
   flex-direction: column;
   width: 100%;
   font-size: 12px;

   &__search {
      width: 100%;
      margin-bottom: 16px;
      padding: 8px;
   }

   &__show-more {
      text-align: center;
      padding: 8px 16px;
      background-color: $accent;
      margin: 16px auto;
      color: #fff;
      width: 270px;
   }

   &__row {
      display: flex;
      flex-direction: row;
      background-color: $lightgrey;
      border: $table-border;
      border-top: none;

      &:first-of-type {
         border: $table-border;
      }

      &:hover {
         background-color: $accent;
         border: solid 1px $accent;
         color: #fff;
      }
   }

   &__cell {
      display: flex;
      flex: 1;
      justify-content: flex-start;
   }

   &__sort {
      &::after {
         content: '\25BC';
      }
   }
}