.c-sensor-data-table {
   display: flex;
   flex-direction: column;
   width: 100%;
   font-size: 12px;

   &__search {
      width: 100%;
      margin-bottom: 16px;
      padding: 8px;
   }

   &__row {
      display: flex;
      flex-direction: row;
      background-color: #fafafa;
      border: solid 1px #E0E0E0;
      border-top: none;

      &:first-of-type {
         border: solid 1px #E0E0E0;
      }

      &:hover {
         background-color: #ff4943;
         border: solid 1px #ff4943;
         color: #fff;
      }
   }

   &__cell {
      display: flex;
      flex: 1;
      justify-content: flex-start;
   }

   &__sort {
      &::after {
         content: '\25BC';
      }
   }
}